@model IEnumerable<AM.ApplicationCore.Domain.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.planeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planeType)
            </td>
            <td>
                
                @Html.ActionLink("Edit", "Edit", new {  id=item.PlaneId}) |
                @Html.ActionLink("Details", "Details", new {id = item.PlaneId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.PlaneId })
            </td>
        </tr>
}
    </tbody>
</table>
